html {
    height: 100%;
}

body {
    background-image: 
url('background/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* .boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 13.5%;
    column-gap: 12.6%;
    margin-top: 35%;
} */

/*.money div {
    position: fixed;
    left: 1000px;
    top: 290px;
   
} */
.upgrades {
    display: flex;
}
.prices {
    margin-bottom: 54px;
    margin-left: 15px;
}